@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script>
    function OnRichEditControlInit(s, e) {
        RichEdit.commands.updateAllFields.execute();
    }

    function OnProtectDocumentClick(s, e) {
        RichEdit.PerformCallback({ actioName: "protectDocumentFields" });
    }

    function OnUpdateProtectedFields(s, e) {
        RichEdit.PerformCallback({ actioName: "updateProtectedFields" });
    }
</script>

@using(Html.BeginForm()) {
    @Html.DevExpress().Button(btnSettings => {
        btnSettings.Name = "btnProtect";
        btnSettings.Text = "Protect Document Fields";
        btnSettings.ClientSideEvents.Click = "OnProtectDocumentClick";
    }).GetHtml()
    @Html.DevExpress().Button(btnSettings => {
        btnSettings.Name = "btnUpdateFields";
        btnSettings.Text = "Update Fields in Protected Ranges";
        btnSettings.ClientSideEvents.Click = "OnUpdateProtectedFields";
    }).GetHtml()

    @Html.Action("RichEditPartial")
}

